@use "sass:map";
@import '@/assets/styles/colors';

.sidebar {
  border-right: 1px solid map.get($colors, grey-200);
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 31px;
  width: 291px;
}
