@use "sass:map";
@import '@/assets/styles/colors';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: map.get($colors, grey-300);
  font-size: 14px;
  font-weight: 400;
}

.selected {
  justify-content: initial;
  align-items: initial;
  padding-top: 30px;
  padding-left: 21px;
}